.f-container{
    justify-content: space-between;
    background: var(--lightBlue)
}

.f-left{
    gap: 1rem;
}

.f-left>:nth-child(3){
    margin-top: 0.5rem;
}

.f-follow{
    justify-content: space-between;
    margin-top: 0.2rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.f-follow .icon{
    border-radius: 100%;
    border: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
}
.f-follow>:hover{
    /* background: var(--blue); */
    scale: 1.5;
    
}


.f-follow .icon>:nth-child(1){
    margin-right:2px;
    margin-left: 2px;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
.f-menu>:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width:768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center !important;
        text-align: center;
    }   
}