.r-container{
    overflow: hidden;
    position: relative;
}
.r-head{
    margin-bottom: 2rem;
}

.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
}

.r-card>img{
    width: 100%;
    max-width: 15rem;
}

.r-card>:nth-child(2){
    font-size: 1.3rem;
    font-weight: 600;
}

.r-card>:nth-child(3){
    font-size: 1.5rem;
}

.r-card>:nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
}

.r-card:hover{
    scale: 1.025;
    cursor: pointer;
    /* background: linear-gradient(
        180deg,
        rgba(16, 245, 253, 0) 0%,
        â˜rgba(136, 160, 255, 0.46) 217.91%
        ); */
    background: rgba(162, 241, 255,0.4);
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal{
    overflow: visible;
}

.r-buttons{
    /* position: absolute; */
    margin-top: 1.5rem;
    gap: 1rem;
    top: -4rem;
    right: 0;
}

.r-buttons>button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: blue;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.r-buttons>button:hover{
    background-color: rgba(162, 241, 255,0.4);;
    /* color: white; */
}

@media (max-width:640px) {
    .r-head{
        align-items: center;
    }
    
}